MainWindow {
    background-color: #b6ff00;
    border: 2px solid #dedede;
}

Player {
    background-color: #00ff90;
    border: 2px solid #dedede;
}

Sidebar {
    background-color: #ffd800;
    border: 2px solid #dedede;
}

QWidget {
    background-color: #ffd800;
    border: 2px solid #dedede;
}

